/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* BASE */
:root {
  --clr-black: #030303;
  --clr-grey: #777;
  --clr-light-grey: #eee;
  --clr-link: #66909c;
  --font-heading: "Roboto", sans-serif;
  --margin-l: 60px;
}

body#tinymce.wp-editor {
  color: var(--clr-grey);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.725;
}
body#tinymce > *:first-of-type,
body#tinymce > *:first-child {
  margin-top: 0;
}
body#tinymce.wp-editor a {
  color: var(--clr-link);
  font-weight: 400;
}
body#tinymce:is(h3, h4, h5, h6) {
color: var(--clr-black);
  font-family: var(--font-heading);
  margin-bottom: 0;
  margin-top: 0;
}
body#tinymce h3 {
  font-size: 31px;
  font-weight: 200;
  margin-top: 0;
  line-height: 140%;
  margin-bottom: 0;
}
body#tinymce h4 {
  font-size: 22px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 0;
}
body#tinymce h5 {
  font-size: 18px;
  line-height: 110%;
  margin-bottom: 0;
}
body#tinymce h6 {
  font-size: 15px;
  line-height: 110%;
  margin-bottom: 0;
}